 {% extends "base.html" %}

 
 
    <!--/.main-header-->
    {% block content %}
    {% load static %}

    <link rel="stylesheet" href={% static "css/style.css" %}>
	<!-- Responsive stylesheet -->
	<link rel="stylesheet" href= {% static "css/responsive.css" %}>



    <!--End breadcrumb area-->
    
    <!--Start call to action area-->
    <section class="callto-action-area style-two sec-pd-one">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                    <div class="callto-action-imgbox">
                        <img src= "{% static "images/resources/callto-action-image.jpg" %}"  alt="Awesome Image">
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
                    <div class=" sm-padding wow fade-in-right" data-wow-delay="200ms">
                        <div class="section-heading mb-20">
                            <h4 class="sub-heading">Innovative & Creative</h4>
                            
                        </div>
                        
                    </div>


                    <div class="callto-action-text">
                        <div class="title">
                            
                            <h1>Consulting Experts.</h1>
                        </div>
                        <div class="text-holder">
                            <p>Siddhartha Kumar is a global brand Web developer that’s ambitious for the work and optimistic for the world. We’re here to help our clients defy convention, redefine expectations and ignite positive change.</p>
                            <p>We unite brand, culture and experience to drive impact inside and outside an organisation.</p>
                            <p>In a world that demands new and better, no one can afford to stand still. Your brand can be a catalyst for change, helping you supercharge your transformation efforts and drive business performance. </p>
                            <p>We are committed to self-reliant, sustainable growth and are embracing the New Energy and digital-first future.</p>
                            <div class="founder-text">
                                <p>We’re a bunch of sharp thinkers and creative makers on a mission to do the best work of our lives—and always enjoy the ride.</p>
                                <h3>- Siddhartha Kumar, Founder.</h3>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </section>
    <!--End call to action area-->
    
    <!--Start History area-->
    
    <!--End History area--> 
    
    <!--Start Working area--> 
    
    <!--End fact counter area-->
    
    <!--Start Certications area-->  
    
    <!--End Certications area-->
     
    <!--Start job Career area-->  
    <section class="job-career-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="job-career text-center">
                        <div class="sec-title text-center">
                            <span>job Career</span>
                            <div class="border center"></div> 
                            <h1>We are looking for good skill persons</h1>
                        </div>    
                        <div class="text">
                            <p>Must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer.</p>
                        </div>
                        <div class="button">
                            <a class="thm-btn" href="contact">Submit Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End job Career area--> 
      
    <!--Start footer area-->  
    
    <!--Start footer bottom area--> 
    <!--End footer bottom area-->  
    
    
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
    
    {% comment %} <!-- main jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Wow Script -->
    <script src="js/wow.min.js"></script>
    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- bx slider -->
    <script src="js/jquery.bxslider.min.js"></script>
    <!-- count to -->
    <script src="js/jquery.countTo.js"></script>
    <!-- owl carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- validate -->
    <script src="js/validation.js"></script>
    <!-- mixit up -->
    <script src="js/jquery.mixitup.min.js"></script>
    <!-- easing -->
    <script src="js/jquery.easing.min.js"></script>
    <!-- gmap helper -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
    <!--gmap script-->
    <script src="js/gmaps.js"></script>
    <script src="js/map-helper.js"></script>
    <!-- video responsive script -->
    <script src="js/jquery.fitvids.js"></script>
    <!-- jQuery ui js -->
    <script src="assets/jquery-ui-1.11.4/jquery-ui.js"></script>
    <!-- Language Switche  -->
    <script src="assets/language-switcher/jquery.polyglot.language.switcher.js"></script>
    <!-- fancy box -->
    <script src="js/jquery.fancybox.pack.js"></script>
    <script src="js/jquery.appear.js"></script>
    <!-- isotope script-->
    <script src="js/isotope.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script> 
    <!-- jQuery timepicker js -->
    <script src="assets/timepicker/timePicker.js"></script>
    <!-- Bootstrap select picker js -->
    <script src="assets/bootstrap-sl-1.12.1/bootstrap-select.js"></script>                               
    <script src="assets/html5lightbox/html5lightbox.js"></script>
    
    
    <!-- thm custom script -->
    <script src="js/custom.js"></script>
    {% endcomment %}
    
    {% endblock %}  
    
 <h1>This is a Heading</h1>
 <p>This is a paragraph.</p>
 <p>This is another paragraph.</p>
</div>

</body>
</html>